body {
	padding: 0;
	margin: 0;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 17px;
	line-height: 135%;
	color:	#777777;
	background: black;
  }

  #hangman-image {
    width: 700px;
    height: 150px;
    margin-left: 25%;
  }

  #name-of-band {
      width: 100%;
      height: 150px;
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	  font-size: 17px;
	  line-height: 135%;
      color: #777777;
      margin-left: 40%;
      margin-top: 30px;
  }
    
  .col-md-2 {
        height: 500px;
        border: 3px white solid;
    }

  #hangman_image {
      height: 180px;
      width: 180px;
      margin-top: 50px;
      margin-left: 20px;
  }