body {
	padding: 0;
	margin: 0;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 17px;
	line-height: 135%;
	color:	white;
	background-image: url(../images/concrete-texture.png);
  }

  #crystalls-collector {
    width: 450px;
    height: 100px;
    margin-left: 1%;
    margin-top: 1%;
    padding-top: 2%;
    background-color: brown;
    text-align: center;
  }

  #game-rules {
      width: 50%;
      height: 40%;
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	  font-size: 17px;
	  line-height: 135%;
      color: green;
      margin-left: 1%;
      margin-top: 1%;
      background-color: yellow;
      padding-bottom: 5%;
      padding-top: 2%;
  }
    
  .col-md-3 {
      color: brown;
      height: 100px;
      margin-left: 2%;
      margin-top: 1%;
      background-color: green; 
      font-size: 34px; 
      padding-top: 2%;    
    }

    .col-md-2 {
        color: white;
        height: 100px;
        margin-left: 2%;
        margin-top: 1%;
        background-color: seagreen; 
        font-size: 17px; 
        padding-top: 2%;    
      }

      .col-md-1 {
        color: black;
        height: 100px;
        margin-left: 2%;
        margin-top: 1%;
        background-color: white;
        font-size: 34px;
      }

      #total-score {
        color: black;
        height: 100px;
        margin-left: 2%;
        margin-top: 1%;
        background-color: white;
        font-size: 34px;
        padding-top: 2%;
      }
  